{% extends 'Emapapp/base/notmap.html' %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
{% block header %}
<title>Profile</title>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
</head>
<body>

<div class="maincontent">
{% block maincotent %}
{% endblock %}
<div class="user">
<div class="avatar">
{% if test %}
<img src="{{ user.avatar.image.url }}">
{% else %}
<img src="{{ pr.avatar.image.url }}">
{% endif %}
</div>
<div class="info">
{% if test %}
{% if user.first_name %}
<div class="name">{{ user.first_name }} {{ user.last_name }}</div>
{% else %}
<div class="name">{{ user.username }}</div>
{% endif %}
<div class="mail">{{ user.email }}</div>
<div class="reiting">Рейтинг: {{user.reiting.reiting}}</div>
{% else %}
{% if pr.first_name %}
<div class="name">{{ pr.first_name }} {{ pr.last_name }}</div>
{% else %}
<div class="name">{{ pr.username }}</div>
{% endif %}
<div class="mail">{{ pr.email }}</div>
{% if user.is_authenticated %}
<div class="friendbut">
<a href="/addfriend{{pr.id}}">{% if not friend and not maybefriend %}Добавить в друзья{% endif %}{% if friend %}Убрать из друзей{% endif %}{% if maybefriend %}Отозвать подписку{% endif %}</a>
</div>
{% endif %}
<div class="reiting">Рейтинг: {{pr.reiting.reiting}}</div>
{% endif %}
</div>
</div>
<div class="dopinfo">
<div class="left">
{% if test %}
<div class="dop">Всего мероприятий: {{ user.reiting.howmany }}</div><div class="dop">Избранные: </div>
{% else %}
<div class="dop">Всего мероприятий: {{ pr.reiting.howmany }}</div>
{% endif %}
</div>
{% if test %}
<div class="friends"><a href="/friends{{user.id}}">Друзья: {{coufriend}}</a></div>
{% else %}
<div class="friends"><a href="/friends{{pr.id}}">Друзья: {{coufriend}}</a></div>
{% endif %}
</div>
</div>
	<div class="footer">

	</div>
</body>
</html>