{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Profile</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="//yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="//yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function ($) {
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
	"{% for i in info %}"
    $('#favourite{{ i.cele.user.id }}').click(function(e){
    	alert('click');
        $.ajax({
        	type: 'POST',
			url: '/favourite{{ i.cele.user.id }}/',
			success: function(){
				alert('Load was performed.');
			}
		});

		/*x = document.getElementById("favourite{{i.cele.user.id}}")
		if(x.className === "favo"){
			x.className = "favoy";
		}
		else{
			x.className = "favo";
		}*/
    });
    "{% endfor %}"
});
</script>
<script type="text/javascript">

jQuery(document).ready(function ($) {

	"{% if user.is_authenticated %}"

	var clickprofilemenu = false;
	var clickyetbuhmenu = false;
	var clickmybuhmenu = false;
	var clickmesmenu = false;

	userimg.onclick = function(){
		if(clickprofilemenu == false){
			profilemenu.style.display = "block";
			if(clickmesmenu == true){
				$('#mesmenu').animate(
				   {
				     opacity: "0.0"
				   }, 400);
				$('#borderstoryactive2').animate(
				   {
				    opacity: "0.0"
				  }, 400);
				setTimeout("mybuhmenu.style.display = 'none'; borderstoryactive2.style.display = 'none';", 400);
				clickmesmenu = false;
			}
			$('#profilemenu').animate(
			  {
			    opacity: "1.0"
			  }, 400);
			clickprofilemenu = true;
		}
		else{
			$('#profilemenu').animate(
			  {
			    opacity: "0.0"
			  }, 400);
			setTimeout("profilemenu.style.display = 'none';", 400);
			clickprofilemenu = false;
		}
	};
	yetbuhbut.onclick = function(){
		x = document.getElementById("storytitle");
		if(clickyetbuhmenu == false){
			x.className = "storytitleactive";
			yetbuhmenu.style.display = "block";
			borderstoryactive.style.display = "block";
			if (clickmybuhmenu == true){
				x = document.getElementById("storytitle1");
				x.className = "storytitle";
				$('#mybuhmenu').animate(
				  {
				    opacity: "0.0"
				  }, 400);
				$('#borderstoryactive1').animate(
				  {
				    opacity: "0.0"
				  }, 400);
				setTimeout("mybuhmenu.style.display = 'none'; borderstoryactive1.style.display = 'none';", 400);
				clickmybuhmenu = false;
			}
			$('#yetbuhmenu').animate(
			  {
			    opacity: "1.0"
			  }, 400);
			$('#borderstoryactive').animate(
			  {
			    opacity: "1.0"
			  }, 400);
			clickyetbuhmenu = true;
		}
		else{
			x.className = "storytitle";
			$('#yetbuhmenu').animate(
			  {
			    opacity: "0.0"
			  }, 400);
			$('#borderstoryactive').animate(
			  {
			    opacity: "0.0"
			  }, 400);
			setTimeout("yetbuhmenu.style.display = 'none'; borderstoryactive.style.display = 'none';", 400);
			clickyetbuhmenu = false;
		}
	};
	mybuhbut.onclick = function(){
		x = document.getElementById("storytitle1");
		if(clickmybuhmenu == false){
			x.className = "storytitleactive";
			mybuhmenu.style.display = "block";
			borderstoryactive1.style.display = "block";
			if (clickyetbuhmenu == true){
				x = document.getElementById("storytitle");
				x.className = "storytitle";
				$('#yetbuhmenu').animate(
				  {
				    opacity: "0.0"
				  }, 400);
				$('#borderstoryactive').animate(
				  {
				    opacity: "0.0"
				  }, 400);
				setTimeout("yetbuhmenu.style.display = 'none'; borderstoryactive.style.display = 'none';", 400);
				clickyetbuhmenu = false;
			}
			$('#mybuhmenu').animate(
			  {
			    opacity: "1.0"
			  }, 400);
			$('#borderstoryactive1').animate(
			  {
			    opacity: "1.0"
			  }, 400);
			clickmybuhmenu = true;
		}
		else{
			x.className = "storytitle";
			$('#mybuhmenu').animate(
			  {
			    opacity: "0.0"
			  }, 400);
			$('#borderstoryactive1').animate(
			  {
			    opacity: "0.0"
			  }, 400);
			setTimeout("mybuhmenu.style.display = 'none'; borderstoryactive1.style.display = 'none';", 400);
			clickmybuhmenu = false;
		}
	};


	mesbut.onclick = function(){
		if(clickmesmenu == false){
			mesmenu.style.display = "block";
			borderstoryactive2.style.display = "block";
			if(clickprofilemenu == true){
				$('#profilemenu').animate(
				  {
				    opacity: "0.0"
				  }, 400);
				setTimeout("profilemenu.style.display = 'none';", 400);
				clickprofilemenu = false;
			}
			$('#mesmenu').animate(
			   {
			     opacity: "1.0"
			   }, 400);
			$('#borderstoryactive2').animate(
			   {
			     opacity: "1.0"
			   }, 400);
			clickmesmenu = true;
		}
		else{
			$('#mesmenu').animate(
			   {
			     opacity: "0.0"
			   }, 400);
			$('#borderstoryactive2').animate(
			   {
			    opacity: "0.0"
			  }, 400);
			setTimeout("mesmenu.style.display = 'none'; borderstoryactive2.style.display = 'none';", 400);
			clickmesmenu = false;
		}
	};

	menubutton.onclick = function() {
		x = document.getElementById("menubutton");
		y = document.getElementById("menu");
		z = document.getElementById("mainactive");
		if (x.className == "menubutton"){
			x.className = "showbut";
			y.className = "show";
			z.className = "mainshow";
		}
		else{
			$("#menubutton").removeClass("showbut");
			$("#menu").removeClass("show");
			$("#mainactive").removeClass("mainshow")
			x.className = "menubutton";
			y.className = "menu";
			z.className = "mainactive";
		}
	};

	"{% else %}"

	

	"{% endif %}"

});
</script>
</head>
<body>
<div class="profilemenu" id="profilemenu">
			<div class="username">
			{% if user.first_name %}
				{{ user.first_name }} {{ user.last_name }}
			{% else %}
				{{ user.username }}
			{% endif %}
			</div>
			<div class="reiting">
				Рейтинг: {{ user.reiting.reiting }}
			</div>
			<div class="profilemenubut">
				<a href="/profile{{user.id}}">Профиль</a>
			</div>
			<div class="out">
				<a href="/logout"><img src="/media/out.png"></a><a href="/logout">Выйти</a>
			</div>
		</div>





		<div class="header">
			<div class="logo">
				<a href="/"><img src="/media/logo.png"></a>
			</div>
			<div id="story" class="story">
				<a href="">Всего мероприятий: {{count}}</a>
			</div>
			<div id="users" class="story">
				<a href="/userssearch">Пользователи</a>
			</div>
			<div id="yetbuhbut" class="story">
				<div id="storytitle" class="storytitle">Куда я иду<div id="borderstoryactive" class="borderstoryactive"></div></div>
				<div class="yetbuhmenu" id="yetbuhmenu">
				{% if yetbuhmenu|length > 0 %}
					{% for i in yetbuhmenu %}
					<a href="/ktoidet{{ i.yourcelebrinfo.index }}">
					<div class="yetbuhcelebr">
						<div class="celebrname">{{ i.yourcelebrinfo.name }}</div>
						<div class="celebrdate">{{i.yourcelebrinfo.date|date:"d.m.Y" }}</div>
					</div>
					</a>
					{% endfor %}
				{% else %}
					<div class="yetbuhcelebr">
						<div class="celebrname">Вы пока никуда не собираетесь</div>
						<div class="celebrdate"></div>
					</div>
				{% endif %}
					<div class="yetbuhmaincelebrmenu">
						<a href="/yetbuh{{user.id}}">Показать все</a>
					</div>
				</div>
			</div>

			<div id="mybuhbut" class="story">
				<div id="storytitle1" class="storytitle">Организованные мной<div id="borderstoryactive1" class="borderstoryactive"></div></div>
				<div class="yetbuhmenu" id="mybuhmenu">
				{% if mybuhmenu|length > 0 %}
					{% for i in mybuhmenu %}
					<a href="/ktoidet{{ i.index }}">
					<div class="yetbuhcelebr">
						<div class="celebrname">{{ i.name }}</div>
						<div class="celebrdate">{{i.date|date:"d.m.Y" }}</div>
					</div>
					</a>
					{% endfor %}
				{% else %}
					<div class="yetbuhcelebr">
						<div class="celebrname">Вы пока ничего не организовали</div>
						<div class="celebrdate"></div>
					</div>
				{% endif %}
					<div class="yetbuhmaincelebrmenu">
						<a href="/mybuh{{user.id}}">Показать все</a>
					</div>
				</div>
			</div>
			<div id="auth" class="auth">
				{% if not user.is_authenticated %}
				<div id="loginbut" class="reg1">
					Войти
				</div>
				<div id="regbut" class="reg2">
					Регистрация
				</div>
				{% else %}
				<div id="userimg" class="userimg">
					<img src="{{ user.avatar.image.url }}">
				</div>
				{% endif %}
			</div>
			{% if user.is_authenticated %}
			<div id="mesbut" class="message">
				<div class="mesimg">{% if user.havemessages.havemes == 'False' %}<img src="/media/message.png">{% else %}<img src="/media/havemessage.png">{% endif %}</div>
				<div id="borderstoryactive2" class="bordermesactive"></div>
				<div class="mesmenu" id="mesmenu">
				{% if mes|length > 0 %}
					{% for i in mes %}
					<a href="/{{i.ahref}}">
					<div class="yetbuhcelebr">
						<div class="celebrname">{{ i.profilename }}{{ i.title }}</div>
						<div class="celebrdate">{{i.date|date:"d.m.Y" }}</div>
					</div>
					</a>
					{% endfor %}
				{% else %}
					<div class="yetbuhcelebr">
						<div class="celebrname">У вас нет новых сообщений</div>
						<div class="celebrdate"></div>
					</div>
				{% endif %}
					<div class="yetbuhmaincelebrmenu">
						<a href="/mes{{user.id}}">Показать все</a>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
<div class="maincontent">
<div id="mainactive" class="mainactive">
{% block maincotent %}
{% endblock %}
<h1>Мои текущие мероприятия:</h1>
<div class="buhinfo">
<table>
<tbody>
<tr class="theader">
<td>Название</td><td>Адрес</td><td>Кол-во участников</td><td>Организатор</td>
</tr>
{% for i in info %}
<tr class="standart">
<td><a href="/ktoidet{{i.cele.index}}">{{i.cele.name}}</a></td>
<td><a href="/ktoidet{{i.cele.index}}">{{i.cele.adress}}</a></td>
<td><a href="/ktoidet{{i.cele.index}}">{{i.cele.count}}</a></td>
<td class="celeuser"><a href="/ktoidet{{i.cele.index}}">{{i.cele.user.username}}</a>
{% if not i.cele.user.id in favo %}
<div class="favo" id="favourite{{ i.cele.user.id }}"><img src="/media/unfavourite.png"></div>
{% else %}
<div class="favo" id="favourite{{ i.cele.user.id }}"><img src="/media/favourite.png"></div>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
<div id="menubutton" class="menubutton"></div>
		{% if user.is_authenticated %}
		<div id="menu" class="menu">
		<div class="emenu">
			<div id="elements">
			<div id="elem2" class="elem1">
				<a href="/">Карта</a>
			</div>
			<div id="elem1" class="elem1">
				<a href="/friends{{ user.id }}">Друзья</a>
			</div>
			<div id="elem3" class="elem1">
				<a href="/calendar">Календарь</a>
			</div>
		</div>
		</div>
		</div>
		{% endif %}
	<div class="footer">

	</div>
</body>
</html>